body {
    text-align:center;
    color: black;
    font-family:'Permanent Marker', Arial Black;
    background-color:#E0E0E0;
    background: linear-gradient(#E0E0E0,#1ab86e);
 }
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.divider-one {
    border: 4px solid black;
}
.intro {
    font-family: 'Permanent Marker', Comic sans-serif;
    font-size: 75px;
    text-align: center;
    color: black;
    padding-top: 40px;
    padding-bottom:30px;
    display:inline;
    text-shadow: green;
   
}
.container {
    vertical-align: left;

}
  

p {
    font-size: 30px;
    text-align:center;
    display:inline;
    font-style: oblique;

}

.choice {
    border: thick;
    color:red;
    font-size: 28px;
    padding-top: 30px;
}
.boxed {
    color: black;
    border: 5px solid black;
    font-size: 20px;
    width:350px;
    margin: 0 auto;
    text-align:left;
   margin-left:center;
   margin-right:center;
   vertical-align:center;
   border-color:green;
}
.poster {
    width:265px;
    padding-right: 50px;
    padding-left: 50px;
}
.list {
    color:black;
    font-size: 35px;
    padding-top: 32px;
    font-style: oblique;
}
.table {
    margin: 0 auto;
    border: thick 5px;
    color:black;
}

.images2 {
    display:inline-block;
    justify-content: right;
    position: center;
   
}
.column {
    flex: 20%;
    padding: 20px;
}
#containerBox {
    padding-top: 0px;
    padding-bottom: 10px;
    position: relative;
    display: inline-block;   
}

.text-box {   
    position: absolute; 
    height: 300%;
    text-align: center;  
    width: 100%;
    vertical-align: middle;
}

.text-box:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

h2 {
    display: inline-block;
    font-size: 20px; 
}
.img-responsive {
    width: 100%;
}

#buff {
    font-size: 10px;
}
#divider-two {
    border: 1px dashed black;
}