* {
  box-sizing: border-box;
}

.accordion-body {
  background-color: rgb(221, 145, 223);
}

.accordion-page-header,
.accordion-description {
  display: flex;
  justify-content: center;
}

.accordion {
  margin: 0 auto;
  max-width: 1000px;
  width: 90%;
}

.accordion-item {
  background-color: antiquewhite;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(10, 10, 10, 1);
  color: rgb(26, 25, 25);
  margin: 10px;
  padding: 14px;
}

/* parent set to relative, header after will be absolute */
.accordion-item-header {
  cursor: pointer;
  display: flex;
  font-weight: bold;
  justify-content: center;
  margin: 10px;
  position: relative;
}

.accordion-item-header::after {
  /*
   - could use css entity code found on W3schools
   - absolute will take element out of normal doc flow
   - To use absolute, parent or element must have position specified,
    which I did above
  */

  content: "+";
  font-size: 22pt;
  position: absolute;
  top: -10px;
  right: 10px;
}

/* - When accordion item is open, active class is added to accordion-item-added
    and plus sign is changed to minus */
.accordion-item-header.active::after {
  content: "-";
  font-size: 22pt;
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  padding: 10px;
  border-top: 2px solid rgb(117, 69, 131);
  border-image: linear-gradient(
      to right,
      rgb(86, 20, 129),
      rgb(173, 105, 173),
      rgb(238, 175, 247)
    )
    1;
}
