.accordion-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  max-width: 60vw;
}

.accordion-title {
  text-align: center;
  color: rgba(24, 103, 167, 0.544);
  -webkit-text-stroke: 1px black;
}

.accordion-item {
  background-color: rgba(130, 173, 209, 0.544);
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(36, 94, 126, 0.544);
  color: rgb(26, 25, 25);
  margin-top: 10px;
  padding: 14px;
}

.accordion-item-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.accordion-open {
  cursor: pointer;
  font-size: 18pt;
  font-weight: bold;
  margin-top: 18px;
}

.accordion-panel-content {
  border-top: 2px solid rgba(10, 81, 120, 0.544);
  font-size: 14pt;
  padding: 10px;
}
