.carousel {
  border: 3px solid black;
  border-radius: 10px;
  height: 400px;
  margin: 146px auto;
  overflow-x: auto;
  position: relative;
  width: 64vw;
}

.carousel-track-container {
  /* overflow: hidden; */
  height: 100%;
  position: relative;
}

#carousel-track {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
}

.carousel-slide {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.carousel-image {
  background-size: cover;
  width: 100%;
  background-position: center;
  flex-shrink: 0;
}

.carousel-button {
  background: transparent;
  border: 0px;
  cursor: pointer;
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
}

.carousel-button img {
  width: 40px;
}

/* Move buttons outside of Carousel */
.carousel-button-left {
  left: 100px;
}

.carousel-button-right {
  right: 100px;
}
