.analog-clock-wrapper {
  display: flex;
  flex-direction: row;
  background-color: black;
  border-radius: 10px;
  width: 70%;
  margin: 20% auto;
}

.analog-clock {
  border: 3px solid rgb(17, 17, 18);
  background-color: black;
  border-radius: 50%;
  box-shadow: 2px 2px 20px 8px rgb(128, 206, 230);
  height: 20rem;
  margin: 10% auto;
  position: relative;
  top: 15%;
  width: 20rem;
}

.analog-clock-face {
  height: 100%;
  position: relative;
  width: 100%;
}
