.clock-wrapper {
  background-color: black;
  height: 40rem;
  width: 100%;
}

.clock-container {
  border: 3px solid rgb(17, 17, 18);
  background-color: black;
  border-radius: 50%;
  box-shadow: 2px 2px 20px 8px rgb(128, 206, 230);
  height: 26rem;
  margin: 50% auto;
  position: relative;
  top: 15%;
  width: 26rem;
}

.clock-face {
  height: 100%;
  position: relative;
  width: 100%;
}

.hand {
  background-color: black;
  border: 2px solid rgb(128, 206, 230);
  border-radius: 10px;
  height: 4px;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  width: 50%;
}
