* {
  box-sizing: border-box;
}

.calc-body {
  background-color: rgb(202, 235, 230);
}

.calc-container {
  border-radius: 10px;
  border: 2px solid rgb(238, 195, 88);
  box-shadow: 0px 0px 30px 8px rgb(96, 188, 193);
  margin: 10vh auto 0 auto;
  max-width: 400px;
}

#calc-display {
  border: 1px solid rgb(238, 195, 88);
  border-radius: 3px;
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 14pt;
}

.calc-button {
  border-radius: 3px;
  border: 1px solid rgb(238, 195, 88);
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

.calc-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calc-button > div {
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.calc-button:hover {
  background-color: rgb(180, 147, 13);
  color: rgb(13, 205, 235);
  font-weight: bold;
  transition: 0.5s ease-in-out;
}

#equal {
  background-color: rgb(67, 187, 179);
  color: whitesmoke;
}
