.box-container {
  display:flex;
  flex-direction:column;
  border:1px solid black;
  height:100px;
  width:100px;
  margin-bottom:33px;
  justify-content: center;
  align-items: center;
}

.selected-box {
  background-color: rgb(99, 199, 99);
  color:rgb(245, 240, 240);
}

.not-selected-box {
  background-color:rgb(240, 235, 235);
  color:black;
}